/* This file is part of the wet-boew-moodle theme */
/* Copyright 2016 TNG Consulting Inc. */

body {
    background-color: #ffffff;
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.4375;
    padding-top:0;
}

.row {
    margin-left: -15px!important;
    margin-right: -15px!important;
}

.list-unstyled ul, .list-unstyled ol {
    margin: 0 0 11.5px 0;
}